# Run unit tests using CTest
name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-run:
    name: ${{ matrix.os }}/${{ matrix.preset }}
    strategy:
      matrix:
        os: [ubuntu-24.04, windows-latest]
        preset: [debug, release]
        include:
        - os: ubuntu-24.04
          cc: clang-18
          cxx: clang++-18
          export-commands: true
          extra-packages: libwayland-dev libxkbcommon-dev wayland-protocols extra-cmake-modules mesa-common-dev libglu1-mesa-dev pkg-config
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'true'
    - if: ${{ matrix.extra-packages }}
      run: sudo apt update && sudo apt install -y ${{ matrix.extra-packages }}
    - name: Setup build directory
      run: mkdir build/
    - name: CMake Configure
      env:
        CC: ${{ matrix.cc }}
        CXX: ${{ matrix.cxx }}
      working-directory: ./build
      run: cmake ../ -DBUILD_FOR_CI=ON --preset ${{ matrix.preset }}
    - name: Output CMake Commands
      working-directory: ./build/${{ matrix.preset }}
      if: matrix.export-commands
      run: cat compile_commands.json
    - name: Build
      working-directory: ./build/${{ matrix.preset }}
      run: cmake --build .
    - name: Run tests
      working-directory: ./build/${{ matrix.preset }}
      run: ctest -C ${{ matrix.preset }} --output-on-failure
