# Run unit tests using CTest
name: Formatting

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  clang-format:
    name: clang-format
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4
    - run: sudo apt install -y clang-format
    - name: Check formatting
      run: find lib tests examples -type f \( -name '*.cpp' -o -name '*.hpp' -o -name '*.h' \)   -print0 | xargs -0 clang-format --dry-run --Werror
